# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
print(10*3 - 30\6 + 5 ** 2 + 50.25)

SyntaxError: unexpected character after line continuation character (<ipython-input-5-f00c0216b993>, line 1)

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [6]:
type(3 + 1.5 + 4)

float

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
# Square root:
81 ** 0.5

9.0

In [8]:
# Square:
9 ** 2

81

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
# Print out 'e' using indexing

print('hello')

hello

Reverse the string 'hello' using slicing:

In [1]:
s ='hello'
# Reverse the string using slicing
text = s[::-1]
print(text)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [5]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1::])

o

In [4]:
# Method 2:
print(s[4::])

o

## Lists

Build this list [0,0,0] two separate ways.

In [8]:
# Method 1:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [23]:
# Method 2:
s = '0'
mystring = s * 3
newstring = list(mystring)
intlist = [int(x) for x in newstring]
intlist

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [25]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [31]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [56]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d.get("simple_key"))
print(d["simple_key"])

hello
hello

In [63]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d1 = d.get("k1")
print(d1["k2"])

hello

In [85]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d1 = d.get("k1")
#print(d1)
d2 = d1[0]
d2
d3 = d2.get('nest_key')
d4 = d3[1]
d4
st = ''.join(d4)
print(st)
#print(d2[0][1])

hello

In [87]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d1 = d.get("k1")
#print(d1)
d2 = d1[2]
d2
d3 = d2.get('k2')
d4 = d3[1]
d5 = d4.get('tough') 
d6 = d5[2]
st = ''.join(d6)
print(st)

hello

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br><br>

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [89]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

example = set(list5)
example

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [90]:
# Answer before running cell
2 > 3

False

In [91]:
# Answer before running cell
3 <= 2

False

In [92]:
# Answer before running cell
3 == 2.0

False

In [93]:
# Answer before running cell
3.0 == 3

True

In [94]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [95]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!